body {
	background-color: #E8F6FD;
}

 .nav-item{
    text-align: right;
}

.jumbotron {
	background-color:#D6E3E9;
	margin-top: 50px;
	text-align: center;
}

#addBtn {
	margin-top: 20px;
}

.card-img-top {
    width: 100%;
    height: 10vw;
	padding: 0;
}

.delete-form {
	margin-top: 10px;
	display: inline;
}

#commentBody {
	margin-top: 15px;
}

